<div class="container">
    <p>{{message}}</p>
    <div *ngIf="role=='ROLE_ADMINISTRATOR'">
        <ag-grid-angular
            #agGrid
            style="width: 1200px; height: 600px;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [frameworkComponents]="frameworkComponents"
            [rowHeight]="rowHeight"
            [rowSelection]="rowSelection"
            (gridReady)="onGridReady($event)"
            (cellValueChanged)="onCellValueChanged($event)"
            autoHeight
        ></ag-grid-angular>
        <ngbd-modal-basic (newItemEvent)="addItem($event)"></ngbd-modal-basic>
        <button class="btn btn-danger" style="margin: 10px;" (click)="deletePartner()">Delete Selected Partners</button>
    </div>
</div>