<h3>
    Hello {{ name }}, you have been invited to the {{ organization }} organization.
</h3>

<p>

    Please register your account by clicking <a href="{{ url('register_partner', params)|replace({'8000/register-partner': '4200/register'}) }}">this</a> link
</p>