<div class="form-signin">
    <form [formGroup]="form" (submit)="submit()">
        <h1 class="h3 mb-3 fw-normal">Please register</h1>
        <div class="form-group">
            <label>Username</label>
            <input formControlName="username" class="form-control" required>
            <div *ngFor="let err of errors">
                <div class="text-danger" *ngIf="err.propertyPath === 'username'">{{err.message}}</div>
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input formControlName="name" class="form-control" required>
            <div *ngFor="let err of errors">
                <div class="text-danger" *ngIf="err.propertyPath === 'name'">{{err.message}}</div>
            </div>
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input formControlName="email" type="email" class="form-control" placeholder="name@example.com" required>
            <div *ngFor="let err of errors">
                <div class="text-danger" *ngIf="err.propertyPath === 'email'">{{err.message}}</div>
            </div>
        </div>
        <div class="form-group">
            <label>Role</label>       
            <select class="form-control" formControlName="roles" id="exampleFormControlSelect1">
                <option [ngValue]="null" disabled selected>Select Role</option>
                <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control" required>
            <div *ngFor="let err of errors">
                <div class="text-danger" *ngIf="err.propertyPath === 'password'">{{err.message}}</div>
            </div>
        </div>
        <div class="form-group">
            <label>Retype Password</label>
            <input formControlName="retypedPassword" type="password" class="form-control" required>
            <div *ngFor="let err of errors">
                <div class="text-danger" *ngIf="err.propertyPath === 'retypedPassword'">{{err.message}}</div>
            </div>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>